body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}
#sitename {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 39px;
  letter-spacing: -2px;
  word-spacing: -0.6px;
  color: #000000;
  font-weight: 700;
  text-decoration: overline rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: center;
}
#sitefont {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
}
#loginform {
  text-align: center;
}